{% extends '@guide_default/index.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-sm-12">
                    {% include "@guide_snippets/item.twig" with { 'item': item_data } %}
                </div>
            </div>
{% endblock %}
