{% extends '@guide_default/index.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block search %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-sm-12">
                    <p>{{ body_text }}</p>
                </div>
            </div>
{% endblock %}
