{% extends '@guide_default/index.twig' %}
{% block prevnext %}
                    <div class="row">
                        <div class="col-sm-12 prevnext">
                            {% include "@guide_snippets/prevnext.twig" with { 'prevnext': prevnext } %}
                        </div>
                    </div>
{% endblock %}
