{% extends '@guide_default/index.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block searchSelections %}{% endblock %}
{% block searchQuickForm %}
                <div class="span6 quick-form">
                    {% include '@guide_snippets/quickSearch.twig' %}
                </div>
{% endblock %}
{% block searchAlpha %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-sm-12">
                    <p>Test!</p>
                </div>
            </div>
{% endblock %}
