{% extends '@guide_default/index.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block search %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-sm-12">
                    Passed: {{ content.passed_tests }}<br>
                    Failed: {{ content.failed_tests }}<br>
                    Total: {{ content.num_o_tests }}<br>
                    {{ content.passed_test_names|raw }}<br><br>
                    {% if content.failed_test_names != '' %}
                    {{ content.failed_test_names|raw }}
                    {% endif %}
                </div>
            </div>
{% endblock %}
