{% for item in items %}
    {% if loop.index is divisibleby(2) %}
        <div class="span6 item-card">
    {% else %}
    <div class="row">
        <div class="span6 item-card">
    {% endif %}
            <a href="/item/{{ item.item_id }}/" class="item-link">{{ item.item_name }}</a>
            <br>
            {{ item.street }}
            <br>
            {{ item.city }}, {{ item.federal_state }} {{ item.postcode }}
            <br>
            {{ item.phone }}
            <hr class="item-card">
            {{ item.about|raw }}
    {% if loop.index is divisibleby(2) %}
        </div>
    </div>
    {% else %}
        </div>
    {% endif %}
{% endfor %}
