{% extends '@guide_pages/manager.twig' %}

{% block body %}
            <div class="row">
                <div class="span12">
                    <ul>
                        {% for field in fields %}
                            {% include('@guide_snippets/manager_field_block.twig' with {'field': field}) %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endblock %}
