<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ lang }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ lang }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ lang }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{ lang }}"> <!--<![endif]-->
    <head>
        <meta charset="{{ charset }}" />
        {% block title %}<title>{{ title }}</title>{% endblock %}
        {% block description %}<meta name="description" content="{{ description }}">{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <base href="{{ base_url }}">

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ public_dir }}/assets/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{{ public_dir }}/assets/css/main.css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock %}

        <!-- For IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block touchicons %}
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
        <link rel="icon" href="/assets/images/icon.png" type="image/png" >
        <link rel="apple-touch-icon" href="/assets/images/touch/icon.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/touch/icon_60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/touch/icon_72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/touch/icon_76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/touch/icon_60x60@2x.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/touch/icon_72x72@2x.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/touch/icon_76x76@2x.png">
        {% endblock %}

        {% block headjavascripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
<!--[if lt IE 7]>
            <div class="row">
                <div class="col-md-12">
                    <p>You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
                </div>
            </div>
<![endif]-->
        {% block header %}{% include '@snippets/menu.twig' %}{% endblock %}
        {% block search %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        </div>

        {% block javascripts %}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ public_dir }}/assets/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
{# expected array ['lang', 'charset', 'title', 'description', 'public_dir'] #}
