{% extends '@guide_default/base.twig' %}
{% block stylesheets %}{% include '@guide_snippets/base_css.twig' %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
            {% if a_message.message != '' %}
            <div class="row">
                <div class="col-md-12">
                    {% include '@snippets/message.twig' %}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% include "@guide_snippets/itemCards.twig" with { 'items': item_cards } %}
                    {% block prevnext %}{% endblock %}
                </div>
            </div>
{% endblock %}
{% block footer %}
<!-- Footer -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 footer">
        <p>Copyright &copy;&nbsp;2001-2015 <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved &reg;</p>
    </div>
</div>
<!-- /footer -->
{% endblock %}
{#
expected array
    [
        'lang',
        'charset',
        'base_url',
        'description',
        'public_dir',
        'title',
        'menu',
        'site_url',
        'rights_holder',
        'items'
    ]
#}
